<h3 class="title">
  <%= t('tumtutanaklar') %>
</h3>

<table class="table">
  <tr>
    <th><%= t('fotograf') %></th>
    <th><%= t('il') %></th>
    <th><%= t('ilce') %></th>
    <th><%= t('sandikno') %></th>
    <th><%= t('tutanakturu') %></th>
    <th><%= t('gonderimtarihi') %></th>
    <th><%= t('durum') %></th>
  </tr>
  <% evidences.forEach( function(evidence){ %>
  <tr>
    <td>
       <% if(evidence.resolved) { %>
        <a href="/readings/<%= evidence.reading._id %>/show">
      <% } else if(evidence.flag > 0) { %>
        <a href="/readings/<%= evidence.reading._id %>/show">
      <% } else if(evidence.reading) { %>
        <a href="/readings/<%= evidence.reading._id %>/show">
      <% } else if(evidence.entered) { %>
        <a href="/readings/<%= evidence.id %>/new">
      <% } else { %>
        <a href="/evidences/<%= evidence.id %>/edit">
      <% } %>
        <img class="img-responsive tutanak" src="<%=s3path + evidence.img %>" width="200">
      </a>
    </td>
    <td><%= evidence.city %></td>
    <td><%= evidence.district %></td>
    <td><%= evidence.no %></td>
    <td>
      <%= types.evidence[evidence.type] || "(Tutanak tipi)" %>
    </td>
    <td>
      <% var date = new Date(evidence.created_at); %>
      <%= date.getHours() %>:<%= date.getMinutes() %>
      <%= date.getDate() %>.<%= date.getMonth()+1 %>.<%= date.getFullYear() %>
    </td>
    <td>
      <% if(evidence.resolved) { %>
        <span class="label label-success"><a href="/readings/<%= evidence.reading.id %>/show"><%= t('sayim') %></a></span>
      <% } else if(evidence.flag > 0) { %>
        <span class="label label-danger"><%= t('flag') %></span>
      <% } else if(evidence.reading) { %>
        <a href="/readings/<%= evidence.reading.id %>/show">
          <span class="label label-success"><%= t('sayim') %></span>
        </a>
      <% } else if(evidence.entered) { %>
        <% if(evidence.locked) { %>
          <span class="label label-warning"><%= t('tutanakokunuyor') %></span>
        <% } else { %>
          <a href="/readings/<%= evidence.id %>/new">
            <span class="label label-primary"><%= t('tutanakoku') %></span>
          </a>
        <% } %>
      <% } else { %>
        <a href="/evidences/<%= evidence.id %>/edit">
          <span class="label label-default"><%= t('sadeceresim') %></span>
        </a>
      <% } %>
    </td>
  </tr>
  <% }); %>
</table>

<!-- tutanak editle:
evidences/evidence_id/edit
sehir/ilce/il

tutanak a reading ekle:
readings/evidence_id/new

reading olmus bir tutanagi editle:
readings/reading_id/edit
 -->