<!-- evidences/ -->
<h1>
  <%= title %>
</h1>

<table class="table">
  <tr>
    <th>Fotoğraf</th>
    <th>İl</th>
    <th>İlçe</th>
    <th>Sandık no</th>
    <th>Türü</th>
    <th>Gönderim Tarihi</th>
    <th>Durum</th>
  </tr>
  <% evidences.forEach( function(evidence){ %>
  <tr>
    <td><%- link_to(evidence.img, "/evidences/"+evidence.id+"/show") %></td>
    <td><%= evidence.city %></td>
    <td><%= evidence.district %></td>
    <td><%= evidence.no %></td>
    <td><%= evidence.type %></td>
    <td><%= evidence.created_at %></td>
    <td></td>
  </tr>
  <% }); %>
</table>

