
<div class="row">
   <div class="col-md-12">
      <p class="lead text-center gray">
        <%= t('1haziranbaslik') %>
      </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <form id="tutanak" role="form" action="/evidences" method="post" accept-charset="utf-8" enctype="multipart/form-data">
      <input type="hidden" id="event_id" name="event_id" value="<%= current_event._id %>"/>
      <span class="file-input btn btn-large btn-block btn-file round-button-blue yukle-ikon">
        <%= t('tutanakyukle') %>
        <input type="file" id="files" name="image">
      </span>
    </form>
  </div>
</div>

<div class="row">
   <div class="col-md-12">
      <h4 class="percentage-label text-center">
        <%= t('tutuanaklariyuklenensandiklar') %>
      </h4>
  </div>
</div>
<div class="row">
   <div class="col-md-12">
      <h5 class="percentage text-center">
       % 98
      </h5>
  </div>
</div>

<div class="row">
   <div class="col-md-12 text-center">
      <h4>
        <a class="btn btn-outline-orange" href="/evidences"><%= t('tumtutanaklar') %></a>
      </h4>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <ul class="list-inline">
      <li><a href="https://www.facebook.com/saydirac?ref=hl" class="btn-social"><i class="fa fa-fw fa-facebook"></i></a></li>
      <!-- <li><a href="#" class="btn-social"><i class="fa fa-fw fa-google-plus"></i></a></li> -->
      <li><a href="http://www.twitter.com/saydirac" class="btn-social"><i class="fa fa-fw fa-twitter"></i></a></li>
    </ul>
 </div>
</div>

 <script type="text/javascript">
    $(document).ready(function(){
      $(".file-input").change(function() {
            $('#tutanak').submit();
            $('#tutanak').spin();
      });
    });
</script>
