<!-- evidences/ -->
<h3 class="title">
  <%= t('tumtutanaklar') %>
</h3>

<table class="table">
  <tr>
    <th><%= t('fotograf') %></th>
    <th><%= t('il') %></th>
    <th><%= t('ilce') %></th>
    <th><%= t('sandikno') %></th>
    <th><%= t('tutanakturu') %></th>
    <th><%= t('gonderimtarihi') %></th>
    <th><%= t('durum') %></th>
  </tr>
  <% evidences.forEach( function(evidence){ %>
  <tr>
    <td>
       <% if(evidence.resolved) { %>
        <a href="/readings/<%= evidence.reading %>/show">
      <% } else if(evidence.flag > 0) { %>
        <a href="/readings/<%= evidence.reading %>/show">
      <% } else if(evidence.reading) { %>
        <a href="/readings/<%= evidence.reading %>/show">
      <% } else if(evidence.entered) { %>
        <a href="/readings/<%= evidence.id %>/new">
      <% } else { %>
        <a href="/evidences/<%= evidence.id %>/edit">
      <% } %>
        <img class="img-responsive tutanak" src="<%=s3path + evidence.img %>" width="200">
      </a>
    </td>
    <td><%= evidence.city %></td>
    <td><%= evidence.district %></td>
    <td><%= evidence.no %></td>
    <td>
      <%= types.evidence[evidence.type] || "(Tutanak tipi)" %>
    </td>
    <td>
      <% var date = new Date(evidence.created_at); %>
      <%= date.getHours() %>:<%= date.getMinutes() %>
      <%= date.getDate() %>.<%= date.getMonth()+1 %>.<%= date.getFullYear() %>
    </td>
    <td>
      <% if(evidence.resolved) { %>
         <span class="label label-success">Okundu</span>
      <% } else if(evidence.flag > 0) { %>
        <span class="label label-danger"><%= t('flag') %></span>
      <% } else if(evidence.reading) { %>
        <span class="label label-success"><a href="/readings/<%= evidence.reading.id %>/show"><%= t('sayim') %></a></span>
      <% } else if(evidence.entered) { %>
      <span class="label label-default">Sadece tutanak</span>
      <% } else { %>
        <span class="label label-default">Sadece resim</span>
      <% } %>
    </td>
  </tr>
  <% }); %>
</table>

