<!-- evidences/ -->
<h3 class="title">
  <%= t('tumtutanaklar') %>
</h3>

<table class="table">
  <tr>
    <th><%= t('fotograf') %></th>
    <th><%= t('il') %></th>
    <th><%= t('ilce') %></th>
    <th><%= t('sandikno') %></th>
    <th><%= t('tutanakturu') %></th>
    <th><%= t('gonderimtarihi') %></th>
    <th><%= t('durum') %></th>
  </tr>
  <% evidences.forEach( function(evidence){ %>
  <tr>
    <td>
      <a href="/evidences/<%= evidence.id %>/show">
        <img class="img-responsive tutanak" src="<%=s3path + evidence.img %>" width="200">
      </a>
    </td>
    <td><%= evidence.city %></td>
    <td><%= evidence.district %></td>
    <td><%= evidence.no %></td>
    <td>
      <%= types.evidence[evidence.type] || "(Tutanak tipi)" %>
    </td>
    <td>
      <% var date = new Date(evidence.created_at); %>
      <%= date.getHours() %>:<%= date.getMinutes() %>
      <%= date.getDate() %>.<%= date.getMonth()+1 %>.<%= date.getFullYear() %>
    </td>
    <% if(evidence.reading) { %>
    <td>
      <%- link_to("Sayım", "/readings/"+evidence.reading.id+"/show") %>
    </td>
     <% } %>
  </tr>
  <% }); %>
</table>

