<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAYDIRAÇ * Seçim Sonuç Kontrol Uygulaması</title>
    <meta name="description" content="">
    <meta name="author" content="Saydirac">
      <!-- jquery -->
      <script type="text/javascript" src="/javascripts/jquery-1.11.1.min.js"></script>
      <script type="text/javascript" src="/javascripts/jquery.easing.min.js"></script>
      <!-- styles -->
      <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="text/css" />
      <link rel="stylesheet" href="/stylesheets/bootstrapValidator.min.css" type="text/css" />
      <link rel="stylesheet" href="/stylesheets/font-awesome.min.css" type="text/css" />
      <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></
    <![endif]-->
  </head>


  <body id="page-top" >
    <header>
      <ul class="lang-switch list-inline">
        <li><a href="/lang/tr" class='tr<%= settings.lang %>'>Türkçe</a></li>
        <li><a href="/lang/kd" class='kd<%= settings.lang %>'>Kurdî</a></li>
        <li><a href="/lang/en" class='en<%= settings.lang %>'>English</a></li>
      </ul>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <img class="img-responsive top-logo" src="/images/logo.png" style="" alt="Saydıraç Logo">
            <h4 class="logo-subtitle text-center"><%= t('tagline') %></h4>
          </div>
        </div>
      </div>
    </header>
    <div class="container">
      <%- body %>
    </div>

    <footer>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-12 license">
            Saydirac.com'da toplanan veriler herkesin kullanımına açıktır ve <br />
            <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" title="Attribution-ShareAlike 4.0 International (CC BY-SA 4.0)">Creative Commons</a>
              <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" title="Attribution-ShareAlike 4.0 International (CC BY-SA 4.0)">
                <img src="/fonts/cc.svg" alt="Attribution-ShareAlike 4.0 International (CC BY-SA 4.0)">
                <img src="/fonts/by.svg" alt="Attribution-ShareAlike 4.0 International (CC BY-SA 4.0)">
                <img src="/fonts/sa.svg" alt="Attribution-ShareAlike 4.0 International (CC BY-SA 4.0)">
              </a>
              ile lisanslanmıştır.
              <!-- <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" title="Attribution-ShareAlike 4.0 International (CC BY-SA 4.0)">Creative Commons Attribution-ShareAlike 4.0</a> -->
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 credit">
            <%= t('yazilim') %> &copy; 2014 Saydıraç
          </div>
        </div>
      </div>
    </footer>

    <ul class="admin-menu list-inline" style="display: block; position:fixed; bottom:0; margin:0; width:100%; left:0px; padding-left:10px; background:#000; font-family:courier">
      Admin
      <li><a href="/">Anasayfa</a></li>
      <li><a href="/evidences">Tutanaklar</a></li>
      <li><a href="/evidences/new">+Ekle</a></li>
      <li><a href="/evidences/say">Say</a></li>
      <li><a href="/readings">Sayılanlar</a></li>
      <li><a href="/readings/flagged">Flagged</a></li>
    </ul>

    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrapValidator.min.js"></script>
    <script type="text/javascript" src="/javascripts/cbpAnimatedHeader.min.js"></script>
    <script type="text/javascript" src="/javascripts/freelancer.js"></script>
    <script type="text/javascript" src="/javascripts/spin.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.spin.js"></script>
  </body>
</html>