<div class="panel-group" id="accordion">

<% progresses.forEach( function(progress){ %>
<% if (progress.type === "City") { %>

<div class='row'>
       <div class="col-xs-2 col-xs-offset-4"> 
         SANDIKLAR:
       </div>
        <div class="col-xs-2"> 
         TUTANAK SAYISI:
        </div>
         <div class="col-xs-2"> 
        Okuma Sayısı (%) :
        </div>
         <div class="col-xs-2"> 
          GUNCELLEME:
        </div>
  
</div>

 <div class="">
    <div class='row'>
      <div class="col-xs-4">
         <%= progress.name %>
      </div>
      
        <div class="col-xs-2"> 
        <%= progress.box_count %>
       </div>
        <div class="col-xs-2"> 
        <%= progress.evidence_count %> % <%= round((progress.evidence_count / progress.box_count) * 100) %>
        </div>
         <div class="col-xs-2"> 
        <%= round((progress.reading_count / progress.box_count) * 100) %> 
        </div>
         <div class="col-xs-2"> 
         <% var date = new Date(progress.updated_at); %>
                      <%= date.getHours() %>:<%= date.getMinutes() %>
                      <%= date.getDate() %>.<%= date.getMonth()+1 %>.<%= date.getFullYear() %>
        </div>
     
    </div>

    <div class='row'>
      
      <div class="col-xs-12">
        <% progresses.forEach( function(progress_district){ %>
        <% if ( String(progress_district.parent) == String(progress._id) ) { %>
        <div class='row'>
          <div class="col-xs-4">
           
            <div class="panel-heading">
              <a data-toggle="collapse" data-parent="#accordion" href="#<%= progress._id %>">
                <%= progress_district.name %><span class="btn panel-state"></span>
              </a>
            </div>
          </div>
             <div class="col-xs-2"> 
              <%= progress_district.box_count %>
             </div>
              <div class="col-xs-2"> 
              <%= progress_district.evidence_count %> % <%= round((progress_district.evidence_count / progress_district.box_count) * 100) %>
              </div>
               <div class="col-xs-2"> 
              <%= round((progress_district.reading_count / progress_district.box_count) * 100) %> 
              </div>
               <div class="col-xs-2"> 
               <% var date = new Date(progress_district.updated_at); %>
                            <%= date.getHours() %>:<%= date.getMinutes() %>
                            <%= date.getDate() %>.<%= date.getMonth()+1 %>.<%= date.getFullYear() %>
              </div>
          <div id="<%= progress._id %>" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="col-xs-11 col-xs-offset-1">
                <% progresses.forEach( function(progress_box){ %>
                <% if ( String(progress_box.parent) == String(progress_district._id) ) { %>
                <div class='row'>
                  <div class="col-xs-12">
                    <hr>
                    <p><%= progress_box.name %></p>
                  </div>
                </div>
                <% } %>
                <% });  %>
                <!--   end  district check -->
              </div>
            </div>
          </div>
        </div>
        <% } %>
        <% });  %>
        <!--   end  district check -->
      </div>
    </div> <!-- end city row -->
  </div> <!-- end panel -->
  <% } %> <!-- end if city -->
  <% });%>
  <!--  end progresses loop  -->
</div>