<!-- progress/ -->
<h3 class="title">
  <%= title %>
</h3>

<table class="table">
  <tr>
    <th>Id</th>
    <th>Type</th>
    <th>Name</th>
   <!--  <th>Sandık Sayısı</th> -->
    <th>Tutanak Sayısı (%)</th>
    <th>Okuma Sayısı (%)</th>
    <th>Güncelleme</th>
  </tr>
  <% progresses.forEach( function(progress){ %>
  <tr>
    <td lang='tr'><%= progress.id %></td>
    <td lang="en"><%= progress.type %></td>

    <td><%= progress.name %></td>
    <!-- <td><%= progress.box_count %></td> -->
    <td>
      <%= progress.evidence_count %>
      <% if (progress.type != "Box"){ %>
        (<%= progress.evidence_count / progress.box_count %>)
      <% } %>
    </td>
    <td>
      <%= progress.reading_count %>
      <% if (progress.type != "Box"){ %>
        (<%= progress.reading_count / progress.box_count %>)
      <% } %>
    </td>
    <td>
      <% var date = new Date(progress.updated_at); %>
      <%= date.getHours() %>:<%= date.getMinutes() %>
      <%= date.getDate() %>.<%= date.getMonth()+1 %>.<%= date.getFullYear() %>
    </td>
  </tr>
  <% }); %>
</table>