<div class="row edit-header">
 <div class="col-xs-12">
    <h3><%= title %></h3>
    Resimdeki sayıları resmin altındaki forma yazınız.
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <p>
      <h4><%= evidence.city %> &rarr; <%= evidence.district %> &rarr; Sandık <%= evidence.no %> </h4>
      <%= types.evidence[evidence.type] %>
    </p>
  </div>
</div>

<div class="row ">
  <div class="col-xs-12">
    <img src="<%=s3path + evidence.img %>" width="100%" class="tutanak">
  </div>
</div>


<form role="form" id="evidence_edit" class="form-horizontal" action="/readings" method="post" accept-charset="utf-8" enctype="multipart/form-data">

    <input type="hidden" id="evidence_id" name="evidence_id" value="<%= evidence._id %>"/>

    <div class="row" >
           <div class="col-xs-6">
             <div class="row">
               <div class="col-xs-12">
                 <h4>Tutanak verileri</h4>
               </div>
             </div>
             <div class="row tutanak-form">
              <div class="col-xs-9 tutanak-label ">
               Kayıtlı Seçmen:
             </div>
             <div class="col-xs-3">
               <input type="number" class="form-control input-sm" name="baskan_kayitli_secmen" value=0>
             </div>
           </div>
           <div class="row tutanak-form">
            <div class="col-xs-9 tutanak-label">
             (1) Oy Kullanan Kayıtlı Seçmen:
           </div>
           <div class="col-xs-3">
             <input type="number" class="form-control input-sm" name="baskan_oy_kullanan_secmen" value=0>
           </div>
         </div>
         <div class="row tutanak-form">
          <div class="col-xs-9 tutanak-label">
           (2) Kanun Gereği Oy Kullanan:
         </div>
         <div class="col-xs-3">
           <input type="number" class="form-control input-sm" name="baskan_kanunen_oy_kullanan_secmen" value=0>
         </div>
       </div>
       <div class="row tutanak-form">
        <div class="col-xs-9 tutanak-label">
         (3) Kullanılan Toplam Oy:
       </div>
       <div class="col-xs-3">
         <input type="number" class="form-control input-sm" name="baskan_toplam_oy_kullanan_secmen" value=0>
       </div>
     </div>
     <div class="row tutanak-form">
      <div class="col-xs-9 tutanak-label">
       (4) Sandiktan Cikan Zarf Sayisi
     </div>
     <div class="col-xs-3">
       <input type="number" class="form-control input-sm" name="baskan_sandiktan_cikan_zarf_sayisi" value=0>
      </div>
      </div>
    <div class="row tutanak-form">
        <div class="col-xs-9 tutanak-label">
        (6) Gecerli Zarf Sayisi:
      </div>
      <div class="col-xs-3">
        <input type="number" class="form-control input-sm" name="baskan_gecerli_zarf_sayisi" value=0>
      </div>
    </div>
    <div class="row tutanak-form">
      <div class="col-xs-9 tutanak-label">
       (7) İtirazsız Geçerli Oy:
     </div>
     <div class="col-xs-3">
       <input type="number" class="form-control input-sm" name="baskan_itirazsiz_gecerli_oy" value=0>
     </div>
    </div>
    <div class="row tutanak-form">
      <div class="col-xs-9 tutanak-label">
       (8) İtirazlı Geçerli Oy:
     </div>
     <div class="col-xs-3">
       <input type="number" class="form-control input-sm" name="baskan_itirazli_gecerli_oy" value=0>
     </div>
    </div>
    <div class="row tutanak-form">
      <div class="col-xs-9 tutanak-label">
       (9) Geçerli Oy:
     </div>
     <div class="col-xs-3">
       <input type="number" class="form-control input-sm" name="baskan_gecerli_oy" value=0>
     </div>
    </div>
    <div class="row tutanak-form">
      <div class="col-xs-9 tutanak-label">
       (15) Geçersiz Oy:
     </div>
     <div class="col-xs-3">
       <input type="number" class="form-control input-sm" name="baskan_gecersiz_oy" value=0>
     </div>
    </div>
    <div class="row tutanak-form">
      <div class="col-xs-9 tutanak-label">
       (15) Toplam Geçerli Oy:
     </div>
     <div class="col-xs-3">
       <input type="number" class="form-control input-sm" name="baskan_toplam_gecerli_oy" value=0>
     </div>
    </div>
  </div>

    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-12">
          <h4>Adaylar</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          Parti
        </div>
        <div class="col-xs-5">
          Aday
        </div>
        <div class="col-xs-3">
          Oy Sayısı
        </div>
      </div>

      <hr>

      <% for(var k=0; k< candidates.length; k++) {%>
      <div class="row">
        <div class="col-xs-4 tutanak-label">
          <%= candidates[k].party %>
        </div>
        <div class="col-xs-5 tutanak-label">
          <%= candidates[k].person %>
        </div>
        <div class="col-xs-3 tutanak-form">
          <input type="number" class="form-control input-sm" name="baskan_adaylar[]" value=0>
        </div>
      </div>
      <% } %>

    </div>

  </div>

  <div class="row">
  <div class="col-xs-12">
    <input type="submit" class="btn btn-default btn-primary btn-lg btn-block" value="KAYDET"/>
  </div>
  </div>

</form>